<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/public/css/default.css")" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="page">

        <div id="header">
            <div id="title">
                <h1>HERMES PORTAL</h1>
            </div>

            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>
            <hr />
            <ul id="menu">
                <li class="label">VIEW</li>
                <li class="selected">@Html.ActionLink("Home", "Index","Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
            </ul>
        </div>

        <div id="main">
            <ul id="home-highlights" class="highlights">
                <li><a href="/admin/group/index">Groups</a></li>
                <li>Topics</li>
                <li>Messages</li>
            </ul>
            @RenderBody()
            <div id="footer">
            </div>
        </div>
    </div>
</body>
</html>
