@{
    ViewBag.Title = "Edit a  group";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    @model TellagoStudios.Hermes.RestService.Models.GroupModel
               
    <div class="editor-label">
        @Html.LabelFor(model => model.Name)
    </div>
    <div class="editor-label">
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Description)
    </div>
    <div class="editor-label">
        @Html.EditorFor(model => model.Description)
    </div>


