@{
    ViewBag.Title = "List of Groups";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<TellagoStudios.Hermes.Business.Model.Group>
 
 <fieldset>
    <legend>Groups</legend>
    <table>
        <tr>
            <th>Actions</th>
            <th>Name</th>
            <th>Description</th>
        </tr>

        @foreach (var group in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Group", new { id = group.Id.Value }, new AjaxOptions ())
                    @Html.ActionLink("Delete", "Delete", "Group",new { id = group.Id.Value }, new AjaxOptions { Confirm = "Delete group?", HttpMethod = "POST", UpdateTargetId = "main" })
                </td>
                    <td>
                    @group.Name
                </td>
                <td>
                    @group.Description
                </td>
            </tr>
        }
    </table>
</fieldset>
<p>
    @Html.ActionLink("Create New Group", "Create", "Group", new AjaxOptions())
</p>